.venv/
__pycache__/
*.pyc
.pytest_cache/
data/
.secret_key
*.log
*.tmp
*.zip
*.tar*
*.db
*.db-shm
*.db-wal
*.db-journal
*.db-lock
*.db-trace
*.db-trace-lock
*.db-trace-wal
*.db-trace-journal
.env*
!.envrc
app/BUILD_TIMESTAMP
